NEXT_PUBLIC_HOST=http://localhost:3000
HOST=http://localhost:3000
NEXT_PUBLIC_GITHUB_APP_CLIENT_ID=
GITHUB_APP_CLIENT_ID=
GITHUB_APP_CLIENT_SECRET=

AFFINIDI_ISSUANCE_URL=https://console-vc-issuance.staging.affinity-project.org
AFFINIDI_API_KEY_HASH=
AFFINIDI_PROJECT_DID=
AFFINIDI_PROJECT_ID=

JWT_SECRET=this-is-very-secret-dont-tell-anyone