.button {
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #313a55;
  text-transform: uppercase;
  border-radius: 48px;
  background-color: #6af6ff;
  border-color: unset;
  cursor: pointer;

  &:hover {
    border-color: #97f9ff;
  }
}
