.main {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #0e1533;
  min-height: 100vh;

  &__title {
    display: flex;
    flex-direction: column-reverse;
    background-color: #262c47;
    min-height: 144px;
    h1 {
      line-height: 40px;
      font-size: 32px;
      font-weight: bold;
    }
  }

  &__content {
    h2 {
      padding-top: 40px;
      padding-bottom: 40px;
      font-size: 16px;
      font-weight: normal;
    }
  }

  &__actions {
    margin-top: 56px;
  }
}
